* {
    margin: 0;
    box-sizing: auto;
}

/* 헤더 테스트 */
header > h1 {
    height: 100px;
    margin: 0;
    border-bottom: 1px solid black;
}


.revAlignFixed {
    width: 500px;
}

/* 메일, 받은메일함 영역 나누기 */
.receiveAlignContainer {
    display: flex;
    border-left: 1px solid black;
}

/* 사이드바 */
.receivceSideBarSection {
    margin: 50px 30px;
}

.receivceSideBarSection > h1 {
    margin-bottom: 20px;
    
}

.receivceSideBarSection > ul {
    margin: 20px 0px;
}

.receivceSideBarSection > ul > li{
    margin: 5px 0px;
    list-style: none;
    text-indent: 20px;
}

.receivceSideBarSection > ul > li > a {
    text-decoration: none;
    color: black;
}
/* 받은 메일함 세션 영역 */ 
.receivceContents {
    padding: 30px;
    width: 1400px;
    margin: 20px 30px;
}


/* 받은 메일함 */

.revAlignHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 받은 메일함 > 검색 메일 */

.revAlignHeader > h1 {
    margin: 0;
    width: 300px;
}

.revAlignHeader > div {
    display: flex;
}

/* 스팸신고....... 리스트 */

.revListAlign > ul {
    display: flex;
    align-items: center;
    margin: 50px 23px;
    justify-content:space-between;
    width: 1100px;
    text-align: center;
}

.revListAlign > ul > li > label {
    margin-bottom: 0;
}

.revListAlign > ul > li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px 8px;
    font-size: 23px;
}

.revListAlign > ul > li > span{
    margin: 5px;
}

/* 받은 메일함 수신자, 제목, 날짜 */
.revSendMailContents {
    margin-left: 50px;
    margin-top: 50px;
}



.revTableClip {
    transform: rotate(45deg);
}

.revTableTr {
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    width: 1250px;
}

.lineAlignVertical {
    border-left: 1px solid black;
    margin: 0;
}
.revTableTr > td {
    font-size: 20px;
    margin: 10px 3px;
    
}

.revTableTr > td:nth-child(1) {
    height: 20px;
    margin-left: 20px;
}

.revTableTr > td:nth-child(5) {
    margin-left: 20px;
}

.revTableTr > td:nth-child(6) {
    width: 700px;
    margin-left: 30px;
}

.revTableTr > td:nth-child(7) {
    width: 200px;    
}

.revTableTr > td:nth-child(3) {
    color: red;
}



/* 스팸차단 */
.modalSpamMoveBtn > h1 {
    margin: 30px auto;
}

.modalSpamMoveBtn > h4 {
    padding: 30px;
    margin: 30px auto;
}
.modalSpamEmailBtn > button {
    margin: 30px 20px;
}



/* 새 메일함 만들기 */
.modalEmail{
    height: 500px;
}

.modalNewEmailFolder {
    padding: 30px;
    margin: 50px auto;
}

.modalNewEmailFolder > input {
    text-indent: 20px;
    margin: 50px auto;
    height: 50px;
    width: 500px;
}

.modalNewEmailFolder > .modalNewEmailFolderBtn {
    margin: 50px auto;
    text-align: center;
}

.modalNewEmailFolder > .modalNewEmailFolderBtn > button {
    margin: 0 20px;
}

/* 이동하기 */

.modal-dialog > .modalMoveContent {
    width: 500px;
    text-align: center;
}

.modalMoveContent > .modalMoveBtn > h1 {
    margin: 30px auto;
}

.modalMoveBtn > ul {
    padding: 0px;
    width: 300px;
    margin: 0 auto;
}

.modalMoveBtn > ul > span {
    width: 60px;

}

.modalMoveBtn > ul > li:nth-child(1) {
    margin: 5px 0;
    text-indent: -30px;
    font-size: 25px;
}

.modalMoveBtn > ul > li {
    width: 200px;
    text-align: left;
    list-style: none;

}

.modalMoveBtn > .modalMoveEmailBtn > button {
    margin: 30px 20px;
}

/* 페이징처리 */
.navPageAlign {
    margin: 50px auto;
}

.navPageAlign > nav > ul {
    margin: 0 auto;
    background-color: blue;
    text-align: center;
    width: 200px;
}

